@use 'common' as*;
$m_value: 80px;

main {
  overflow: hidden;
  clear: both; //header영역에서 혹시 사용된 float속성이 있다면 float속성해제 한다.

  >#movie {
    height: 100vh;
    background: $line_color_g;
    overflow: hidden;

    //  영상콘텐츠 안의 내용
    >.m_info {
      text-align: center;
      position: absolute;
      width: 100%;
      top: 30%;
      color: $txt_color2;

      // casper
      >h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 50px;
        padding-bottom: 50px;
      }

      // 오직 캐스퍼 온라인에서만 구매하실 수 있습니다.
      >p {
        font-size: $t_size_m;
        padding-bottom: 40px;
      }

      // 메뉴 서식
      >a {
        color: $txt_color2;
        font-size: $t_size_sm;
        text-decoration: underline;
        margin: 0px 20px;
        padding: 6px 10px;
      }

      //  첫번째 메뉴 서식
      >a:first-of-type {
        background-color: rgba(0, 110, 255, 0.70);
      }
    }

    >video {
      width: 100%;
    }

    /*다음 페이지도 이동하기 버튼 서식*/
    @mixin arrow_btn {
      border-left: 2px solid $txt_color2;
      border-bottom: 2px solid $txt_color2;
      transform: rotate(-45deg);
      width: 16px;
      height: 16px;
    }

    >#next_btn {
      /* 글자 숨기기
      text-indent: -9999px; 블록요소 일시에만*/
      display: inline-block;
      text-indent: -9999px;
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translate(-50%, -50%);
      @include arrow_btn;
    }

  }





  >#customer {
    height: 923px;
    background: #a1976e;
  }

}

//콘텐츠 제목 서식
@mixin m_title {
  font-size: $t_size_t3;
  text-align: center;
  font-weight: bold;
  padding: $m_value 0px 10px 0px;
}

//버튼 서식
@mixin btn() {
  border: 1px solid $txt_color2;
  background: $txt_color2;
  padding: 8px 26px;
}

.btn {
  @include btn;
}

//top3 , intro, test_drive. event, buy
.m_title {
  @include m_title;
}

/*가장 많이 찾는 캐스퍼 top3*/
#top3 {
  height: 1000px;
  text-align: center;

  >.p01 {
    font-size: $t_size_m;
    line-height: 50px;
  }

  /*슬라이드 서식*/
  .top3 {
    position: relative;
    margin-top: 50px;
    padding: 20px 0px 50px 0px;

    >.swiper-wrapper {
      width: 100%;
      height: 100%;

      >.swiper-slide.swiper-slide-active {
        img {
          transform: scale(1.5);
          transition-delay: 0.4s;
        }
      }

      >.swiper-slide {
        .rank {
          color: #327186;
          border: 1px solid #327186;
          padding: 6px 30px;
          border-radius: 20px;
          font-size: $t_size_sm;
        }

        .top3_title {
          font-size: $t_size_t1;
          font-weight: 600;
          padding-top: 30px;
          color: $txt_color5;
        }

        img {
          width: 400px;
          transition: transform 0.5s ease;
          transform: scale(0.5);
          margin: 0 auto;
          padding: $m_value 0px;

        }


        // 디테일 색상 가격 옵션 서식
        >.detail {
          // border: 1px solid #f00;
          display: flex;
          justify-content: center;
          padding-bottom: 60px;

          >li {
            width: 190px;
            padding: 0px 20px;
            text-align: left;
            line-height: 20px;
            font-size: $t_size_m;
            border-right: 1px solid $line_color_g;
          }

          >li:last-child {
            border: none;
            padding-top: 6px;
          }

          .price {
            font-size: $t_size_t1;
            font-weight: bold;
            color: $txt_color5;
          }
        }
      }
    }


    .swiper-pagination-bullet {
      width: 80px;
      height: 10px;
      border-radius: 5px;
    }

    .swiper-pagination-bullet-active {
      background-color: #327186;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #327186;
    }
  }
}

.outer_color,
.inner_color {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  float: left;
  margin-right: 10px;
  box-sizing: border-box;
}

.kaki {
  background: #494b3e;
}

.black {
  background: #000;
}

.white {
  background: #fff;
  border: 1px solid #ccc;
}

.orange {
  background: rgb(190, 86, 00);
}

/*3. 소개 페이지*/
#intro {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #cafdff;

  >.intro_title_left,
  >.intro_title_right {
    position: absolute;
    z-index: 100;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;

  }

  >.intro_title_left {
    top: 200px;
    left: -320px;
  }

  >.intro_title_right {
    bottom: 200px;
    right: -300px;
    text-align: right;
  }

  .m_title {
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  video {
    width: 100%;
    position: relative;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .btn {
    position: absolute;
    z-index: 200;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*4. 시승신청 체험*/
#test_drive {
  text-align: center;
  height: 100vh;

  >.p01 {
    font-size: $t_size_sm;
  }

  >article {
    width: 430px;
    height: 280px;
    border: 1px solid $line_color_g;
    padding: 15px;
    margin-top: 140px;
    display: inline-block;
    vertical-align: middle; //요소를 세로 방향으로 가운데 정렬

    h3 {
      font-size: 24px;
      padding-top: 20px;
      font-weight: bold;
      line-height: 40px;
    }

    >p {
      padding: 20px 0px;
      line-height: 22px;
      margin-bottom: 30px;
    }

    .mid {
      transform: translateY(50px);
    }




  }

  .test_drive_right .mid {
    transform: translateY(64px);
  }

}

@mixin btn1 {
  padding: 10px 60px;
  color: $txt_color2;
  background: $txt_color3;
  line-height: 30px;
}

.test_drive_btn1 {
  @include btn1
}

.test_drive_btn2 {
  display: block;
  position: relative;
  top: 20px;
  color: $nav_color01;
  font-weight: 450;
}

/*5. 이벤트 콘텐츠 서식*/
#event {
  text-align: center;
  background: $line_color_g;
  height: 100vh;

  >.p01 {
    font-size: $t_size_sm;

  }

  >.event_slide {
    margin-top: 100px;
    width: 70%;
    height: 500px;

    img {
      width: 100%;
      height: 333.5px;
      object-fit: cover;
      overflow: hidden;
    }

    .swiper-pagination {
      position: absolute;
      /* Swiper 기본값 */
      bottom: 120px;
      /* 슬라이드 안쪽 아래로 고정 */
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 100;
      transform: none;
      /* translateY 제거 */
    }


    .swiper-pagination-bullet {
      height: 16px;
      width: 16px;
      border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
      background-color: #327186;
      width: 90px;
      height: 16px;
      border-radius: 20px;
    }
  }
}

/*6. 구매하기*/
#buy {
  height: 100vh;
  text-align: center;

  >.p01 {
    font-size: $t_size_sm;
  }

  >h3 {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bolder;

    span {
      color: #327186;
    }
  }

  >.buy_inner {
    width: 60%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 가로 3칸 */
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;


    >.buy_info {
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;

      >h4 {
        margin: 30px auto;
        font-weight: 500;
      }

      >img {
        width: 20%;
        object-fit: cover;
      }

      >.p02 {
        font-size: $t_size_sm;
        margin: 20px auto;
      }
    }
  }
}